@import url(styles/general-styles.css);
@import url(styles/game-card.css);

.main-content {
    padding-top: 2rem;
    margin-left: 250px;
    min-height: calc(100vh - 70px);
    position: relative;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
    align-items: center;
}

.sidebar {
    padding-top: 70px;
    font-size: 1.25rem;
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--dark-grey);
    transition: 500ms ease transform;
}

.burger {
    display: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    position: relative;
    margin: 0 1rem;
}
.burger-line,
.burger::before,
.burger::after {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    border-radius: 2px;
    transition: 0.25s ease;
}
.burger::before,
.burger::after {
    content: "";
}
.burger::before {
    transform: translateY(-700%);
}
.burger::after {
    transform: translateY(700%);
}

.period,
.search {
    padding: 0.5rem;
    width: 100%;
}
.period > select,
.search input {
    background-color: var(--darker-grey);
    padding: 0.5em 1em;
    width: 100%;
}
select {
    cursor: pointer;
}

.platforms {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 50%);
    margin: 1rem auto;
}

.platform {
    margin: 0.5rem;
    color: black;
}

.platform-label {
    border-radius: 20%;
    padding: 20%;
    display: block;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1;
}
.platform-label svg {
    transition: 0.25s ease;
}
.platform-radio {
    display: none;
}
.platform-label:hover > svg {
    fill: var(--white);
}

.platform-radio:checked + .platform-label {
    animation: animate-platform 1500ms linear infinite;
    animation-direction: alternate;
}
.platform-label > svg {
    fill: var(--light-grey);
}
.platform-radio:checked + .platform-label.pc > svg {
    filter: drop-shadow(0 0 10px rgb(110, 200, 255));
    fill: rgb(110, 200, 255);
}

.platform-radio:checked + .platform-label.playstation > svg {
    filter: drop-shadow(0 0 10px rgb(100, 100, 255));
    fill: rgb(100, 100, 255);
}

.platform-radio:checked + .platform-label.xbox > svg {
    filter: drop-shadow(0 0 10px rgb(0, 180, 0));
    fill: rgb(0, 180, 0);
}

.platform-radio:checked + .platform-label.nintendo > svg {
    filter: drop-shadow(0 0 10px rgb(255, 100, 0));
    fill: rgb(255, 100, 0);
}

.platform-radio:checked + .platform-label.ios > svg {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    fill: rgb(255, 255, 255);
}

.platform-radio:checked + .platform-label.android > svg {
    filter: drop-shadow(0 0 10px rgb(50, 255, 50));
    fill: rgb(50, 255, 50);
}
.page-buttons {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.page-button {
    margin: 4rem 0;
    display: none;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
    padding: 2em;
    background-color: var(--dark-grey);
}
.page-button:hover {
    background-color: var(--medium-grey);
}
.footer {
    text-align: center;
    padding: 0.5em;
    font-size: 12px;
}

.not-found {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.not-found__text {
    display: block;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0 0 0.5em greenyellow;
    animation: animate-logo 2s linear infinite;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .burger {
        display: block;
    }
    .burger.open.burger::after {
        transform: translateY(-100%) rotate(45deg);
    }
    .burger.open.burger::before {
        transform: translateY(100%) rotate(-45deg);
    }
    .burger.open .burger-line {
        opacity: 0;
    }
}
