@import url(./general-styles.css);
.main {
    padding-bottom: 50px;
}
.main h2 {
    padding: 0.5em 0;
    font-size: 3rem;
}
.main p {
    font-size: 1.25rem;
    max-width: 80ch;
}
.main a {
    font-size: 1.5rem;
    text-shadow: 0 0 0.5em greenyellow;
    animation: animate-logo 2s linear infinite;
}
.main section {
    padding-top: 80px;
}
.map {
    overflow: hidden;
    max-width: 800px;
    width: 80%;
    aspect-ratio: 5/3;
}

.credits__text {
    margin-top: 5rem;
    text-align: center;
}
.credits__text p {
    font-size: 2rem;
}
a.rawg-link {
    font-size: 4rem;
}
.flex {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.socials {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
}

.socials a {
    padding: 1rem;
    transition: 150ms ease filter;
}
.socials > a:hover {
    filter: drop-shadow(0 0 0.5em var(--white));
}

@media (max-width: 800px) {
    .flex {
        display: block;
    }
    .map {
        margin-top: 2rem;
        width: 100%;
        aspect-ratio: 2/3;
    }
    .socials {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .socials a {
        width: fit-content;
        margin: 0 auto;
    }
}
