@import url(./general-styles.css);
.wrapper {
    padding-top: 90vh;
    padding-bottom: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

.content {
    background-color: var(--black);
    box-shadow: 0 0 30vh 30vh var(--black);
}

.content h2,
.content h3,
.content h4 {
    line-height: 2;
}

.content h2 {
    font-size: 3rem;
}

.content h3 {
    font-size: 2rem;
}

.content p {
    line-height: 1.75;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(0, -100%);
}
.title {
    font-size: 5rem;
    max-width: 20ch;
}

.metascore {
    width: fit-content;
    font-size: 3rem;
    line-height: 1;
    padding: 0.5rem;
    border-radius: 1rem;
    color: rgb(0, 180, 0);
    border: 0.25rem solid rgb(0, 180, 0);
}
.metascore.yellow {
    color: rgb(255, 220, 40);
    border: 0.25rem solid rgb(255, 220, 40);
}
.metascore.red {
    color: rgb(120, 0, 0);
    border: 0.25rem solid rgb(120, 0, 0);
}
/* DESCRIPTION */

.description {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about {
    width: 45%;
}

.screenshots {
    width: 50%;
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
    margin-top: 2rem;
}

.screenshot {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 0.25rem;
    cursor: zoom-in;
}

/* DETAILS */

.details {
    padding-top: 100px;
}
.details .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}

.facts {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.fact {
    margin: 1rem;
}

.label {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--light-grey);
}

.stores {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.store {
    font-size: 1.25rem;
    background-color: var(--medium-grey);
    text-align: center;
    padding: 1em;
    margin: 0.5em;
}
.store:hover {
    background-color: var(--lighter-grey);
}
/* REDDIT */

.reddit {
    padding-top: 100px;
}

/* COMMENTS */

.comments {
    margin-top: 5rem;
    display: grid;
    column-fill: auto;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
}

.comment {
    margin: 1rem;
    background-color: var(--dark-grey);
    padding: 2rem;
    border-radius: 0.5rem;
}
.comment__image {
    overflow: hidden;
    aspect-ratio: 2/1;
}
.comment__image img {
    object-fit: contain;
}
.comment__user-name {
    font-size: 1.5rem;
}
.comment__content {
    margin-top: 2rem;
}
.comment__text h5 {
    margin-top: 2rem;
    font-size: 1.5rem;
}
.comment__text p {
    margin-top: 1rem;
    font-size: 1rem;
}
.comment__text a {
    display: none;
}
.comment__time {
    text-align: right;
}

/* SCREENSHOT VIEWER */

.image-viewer {
    display: none;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;
}

.image-viewer__close-button {
    position: absolute;
    width: 7vmax;
    height: 7vmax;
    right: 2vw;
    top: 2vh;
    border-radius: 15%;
    background-color: transparent;
}

.image-viewer__close-button::before,
.image-viewer__close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5%;
    background-color: var(--white);
    border-radius: 1rem;
    transform: 250ms ease filter;
}
.image-viewer__close-button:hover.image-viewer__close-button::before,
.image-viewer__close-button:hover.image-viewer__close-button::after {
    filter: drop-shadow(0 0 1rem var(--white));
}
.image-viewer__close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.image-viewer__close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.image {
    width: 100%;
    height: 100%;
}
.image img {
    object-fit: contain;
}

.image-viewer.open {
    display: block;
}

/* ADAPTIVE MEDIA QUERIES */

@media (max-width: 900px) {
    .header {
        display: block;
    }
    .metascore {
        margin-top: 1em;
    }
    .about,
    .screenshots {
        width: 100%;
        padding-top: 75px;
        gap: 1rem;
    }

    .description {
        display: block;
        padding-top: 0;
    }
    .details {
        padding-top: 75px;
    }
    .details .flex {
        display: block;
    }
    .facts,
    .stores {
        width: 100%;
        text-align: center;
    }
    .stores {
        padding-top: 75px;
        grid-template-columns: repeat(2, 50%);
    }
    .comments {
        display: block;
    }
    .comment {
        margin: 0;
        margin-top: 32px;
    }
    .content p {
        font-size: 1.5rem;
    }
}
